@import url('https://fonts.cdnfonts.com/css/bilbo');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/didot-2');
@import url('https://fonts.cdnfonts.com/css/gfs-didot');
body{
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}

p {
    font-size: 1.5vw;
}

.background {
    background-image: url(../img/background-tate.jpg);
    background-size: cover;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    position: static;
    align-items: center;
    background-color: white;
}

.header-logoBox{
    width: 20vw;
}

.header-logo {
    width: 100%;
}

.header-right {
    flex: content;
}

.header-ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1%;
}

.header-link {
    padding:  1% 3%;
}

.header-contact{
    border-radius: 30px;
    color: white;
    background: linear-gradient(90deg, #2193B0, #6DD5ED);
}

.header-liText{
    font-weight: bold;
}

.fv {
    padding: 3% 7% 0% 7%;
    height: 45vh;
    position: relative;
}

.fv-imgBox {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.fv-img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.fv-imgBox::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(248,248,248) 80%); /* 右から左にかけて透明から不透明に変化するグラデーション */
}

.yes-mainTitle {
    position: absolute;
    top: 50%;
}

.en-title {
    font-family: 'Bilbo', sans-serif;
    color: #006C9A;
    font-size:  3.5vw;
}

.ja-title {
    font-family: "游明朝", "YuMincho", serif;
    font-weight: bold;
    font-size: 3vw;
}

/* section */
.sectionBox{
    border-left:0.7vw solid #57C6F6;
    padding:0.5vw 1.5vw;
}

.section-leadBox {
    margin-bottom: 1%;
}

.section-lead{
    color: #57C6F6;
    font-weight: bold;
    font-size: 1.2vw;
}

.section-title{
    font-size: 2vw;
    font-weight: bold
}

.cta{
    color: white;
    background: linear-gradient(90deg, #2193B0 40%, #6DD5ED);
    padding:7%;
    display: block;
}

.cta-enTitleBox{
    margin-bottom: 1%;
}

.cta-enTitle {
    font-size: 3vw;
    color: white;
    font-weight: 100;
    font-family: 'GFS Didot', sans-serif;
}

.cta-jaTitle {
    color: white;
    font-size: 1.5vw;
    font-weight: 400;
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}