.main {
    padding: 10% 7% 7% 7%;
}

.mainTitle{
    margin-bottom: 7%;
}

.privacy-section {
    margin-bottom: 5%;
}

.leadSentenceBox{
    margin-bottom: 7%;
}


.privacy-titleBox{
    margin-bottom: 2%;
}

.privacy-title {
    font-size: 2vw;
    font-weight: bold;
}

.privacy-text{
    margin-bottom: 2%;
}

.privacyTel{
    font-size: 1.5vw;
}

